@model TARpe21ShopHõbesalu.Models.OpenWeather.OpenWeatherViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #eff7ff; 
        }

    </style>
</head>
<body>
    <h1>City</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Forecast for the selected city</h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-5">City</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.City)</dd>

                    <dt class="col-sm-5">Temperature</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.Temperature)</dd>

                    <dt class="col-sm-5">Air Pressure</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.AirPressure)</dd>

                    <dt class="col-sm-5">Air Humidity</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.AirHumidity)</dd>

                    <dt class="col-sm-5">Main</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.Main)</dd>

                    <dt class="col-sm-5">Wind Speed</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.WindSpeed)</dd>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>
